/* Estilos para el contenedor principal */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Contenedor ocupa toda la altura de la pantalla */
    margin: 0; /* Eliminar los márgenes del body */
    background-color:  lightblue; /* Color de fondo para contrastar */
}

.username-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 500px; /* Aumenta el ancho máximo del contenedor */
    margin: auto;
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.username-input-title {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.username-input-field {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.username-input-field:focus {
    border-color: #007bff;
}

.username-input-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #a9a9a9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.username-input-button:hover {
    background-color: #5a33a3;
}
